{% extends 'polls/index.html' %}

{% block content %}
<div class="question-box" id="details-container">
    <h1 id="details-header">{{ object.question_text }}</h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'polls:vote' object.id %}" method="post">
        {% csrf_token %}
        <ul>
            {% for choice in object.choice_set.all %}
                <li>
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                </li>
            {% endfor %}
        </ul>
        <button type="submit" id="vote-submit-btn">Vote</button>
    </form>
</div>
{% endblock %}
